# Homepage buttons
.btn1{

    height: 200px;
    width: 300px;
    font-size: 50px;
    background-color: #686573;
    color: #d8b9aa;
    border: none;
    text-align: center;
    border-radius: 12px;
}


body{
    padding:0px;
    margin:0px;
    background-color: #b1c5d4;
    list-style: none;
    box-sizing: border-box;

}

.nav {
    color: white;
    background: #d8b9aa;
    width: 100%;
}

li.logo{
    float: left;
}

.middle ul{
    list-style: none;
    background: #d8b9aa;
    text-align: center;
    padding: 0;
    margin: 0;
}

.middle li{
    display:inline-block;
}

.middle a{
    text-decoration:none;
    color: white;
    text-color: white;
    width:100px;
    display:block;
    padding:15px;
    font-size:17px;
    transition: 0.5s;
}

.middle a:hover:not(.logo){
    background: #686573;
    transition: 0.5s;
}