{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .contacts {
        text-align: center;
    }
    img {
        height:180px;
        width:180px;
        border: 3px solid white;
        background: white;
        display: block;
        margin: 20px auto 30px auto;
        padding: 10px 10px;
        border-radius: 10px;
    }

    h3 {
        margin:0px;
        padding:0px;
    }

    p {
        margin:0px 300px 0px 300px;
        padding:0px;
    }

    .hr1 {
        margin: 20px 300px 20px 300px;
        border: solid white;
        border-radius: 3px;
    }
</style>

<body>
<h1 style="text-align:center">Kontakti</h1>
<div class="contacts">
    <hr class="hr1"/>
    <h3>Nodarbību norises vieta</h3>
    <p>Rīga, Lokomotīves iela 44-34</p>
    <p style="background-color: #a8372f; margin-top:10px; border-radius: 3px;">UZMANĪBU! SUNS NODARBĪBU NORISES VIETĀ!</p>
    <img src="{% static "images/location.jpeg" %}"/>
    <hr class="hr1"/>
    <h3>Transports</h3>
    <p>15 trolejbuss - Pietura "Bultu iela"</p>
    <p>18 autobuss - Pietura "Daugmale"</p>
    <hr class="hr1"/>
    <h3>Telefona numurs</h3>
    <p>+371 28695373 (arī WhatsApp)</p>
    <hr class="hr1"/>
    <h3>E-pasts</h3>
    <p>silinda.gercane@gmail.com</p>
    <hr class="hr1"/>
    <h3>Apmaksa</h3>
    <p>LV26HABA0551051214967 (SwedBank)</p>
    <p >Apmaksu var veikt skaidrā naudā uz vietas, pretī saņemot kvīti, vai uz norādīto
        bankas kontu, maksājuma mērķī norādot:
        <p>-skolēna vārdu, uzvārdu;</p>
        <p>-nodarbību plāna nosaukumu;</p>
        <p style="margin-bottom: 40px">-datumus, par kurām stundām tiek veikta apmaksa;</p>
    </p>



</div>




</body>

{% endblock %}