{% extends 'base.html' %}
{% load static %}
{% block title %}Lessons{% endblock %}


{% block content %}
<body>

<style>
    p {
        margin: 20px 300px 20px 300px;
        text-align: center;
    }

    img {
        object-fit: cover;
        height: 200px;
        border: 3px solid white;
        background: white;
        display: block;
        margin: 20px auto 30px auto;
        padding: 10px 10px;
        border-radius: 10px;
        }

        .hr1 {
        margin: 20px 300px 20px 300px;
        border: solid white;
        border-radius: 3px;
    }
    h3 {
        text-align: center;
        margin: 20px 300px 20px 300px;
    }
</style>


<h1 style="text-align:center">Nodarbības</h1>
<hr class="hr1"/>
<h3>
    Hei!
</h3>
<h3>Vai gribi iemācīties spēlēt klavieres? Vajag palīdzību mūzikas skolā? Vēlies saprast mūziku dziļāk? Varbūt vienkārši gribi kvalitatīvi un
    interesanti aizpildīt savu brīvo laiku?
</h3>
<h3>
    TU ESI PAREIZAJĀ VIETĀ!
</h3>
<p>
    Ja Tevi interesē, kā notiek nodarbības pie manis - turpini lasīt! :)
</p>
<hr class="hr1"/>
<img src="{% static "images/piano1.jpeg" %}"/>
<hr class="hr1"/>
<p>
    <b>Kāpēc lai Tu pie manis nāktu?</b>
</p>
<p><b>Man ir atbilde! :)</b>
</p>
<p>Manuprāt, mūzika ir jāizbauda, nevis jāmācās pret paša gribu. Iestājoties mūzikas skolā vai mācoties pie kāda
    pārlieku strikta pedagoga, nereti tiek pazaudēts prieks, kuru sagaidām no muzicēšanas - tas mēdz nobālet uz eksāmenu, kontroldarbu,
    obligāto prasību fona. Tieši šī iemesla dēļ, manuprāt, ir svarīgi atgriezt prieku mūzikā un tās apguvē.
</p>
<p>
    Pie manis mācīsimies spēlēt tieši to dziesmu/skaņdarbu, kuru TU izvēlēsies!
</p>
<p>
    Varēsi parādīt man savas mīļākās dziesmas, arī tās, kuras skan radio vai filmās! Es tās izrakstīšu notīs Tev
    izspēlējamā, bet arī izaicinošā veidā! Protams, būs jāapgūst arī nedaudz no mūzikas teorijas, tomēr ticu, ka pat tas Tev
    būs interesanti, jo uzreiz redzēsi pielietojumu šai it kā "sausajai" teorijai.
</p>
<hr class="hr1"/>
<img src="{% static "images/piano2.jpeg" %}"/>
<hr class="hr1"/>
<p>
    Es piedāvāju mācības atdzīvināt arī ar tehnoloģiju palīdzību - varēsi spēlēt gan uz akustiskajām, gan elektriskajām
    klavierēm, mainot to skanējumu.
</p>
<p>
    Kopā ierakstīsim Tevis spēlēto, lai vēlāk vari parādīt gan vecmāmiņai, gan draugiem!
    Varam arī izmantot dažādas mūzikas apstrādes programmas, kurās pievienosim bungas un citus instrumentus Tevis spēlētajam.
</p>
<hr class="hr1"/>
<img src="{% static "images/piano.jpeg" %}"/>
<hr class="hr1"/>
<p>
    Parasti stundas notiek 45 min, taču varam arī sarunāt tās garākas/īsākas, vadoties pēc Tavām iespējām un vēlmēm.
    Ja gribi, varam tās sadalīt arī daļās, piemēram, 30 min cītīgs darbs pie izvēlētā skaņdarba, 15 min muzikāla jautrība.
    Viss ir atkarīgs no tā, ko gribu TU! :)
</p>
<p>
    Nodarbības visbiežāk notiek manā dzīvoklī Rīgā, Lokomotīves ielā 44-34 (skat. 'Kontakti'), taču varam kopīgi vienoties
    arī par citu vietu!
</p>
<p>
    Apmaksāt stundas vari gan skaidrā naudā uz vietas, pretī saņemot kvīti, vai arī ar pārskaitījumu uz bankas kontu
    (skat. 'Kontakti').
</p>
<hr class="hr1"/>
<p style="margin-bottom: 40px">
    Ja vēl neesi izlēmis/izlēmusi, vai mani apciemot vai nē - šeit būs dažas atsauksmes:
</p>
<p>
    "Patiesi rekomendēju Sīlindu, kā klavierspēles skolotāju.<br>
    Sīlindu raksturo draudzīga un sirsnīga attieksme sadarbībā ar bērnu, prasme pakāpeniski un sistemātiski palīdzēt
    apgūt kā teorētiskos, tā praktiskos klavierspēles pamatus un veicināt apguves procesu, spēja vairot motivāciju
    klavierspēles apguvei, t.sk. gan iepazīstinot ar instrumenta skaisto uzbūvi, gan pašai radot lieliskas bērna
    izvēlētu dziesmu apdares atbilstoši konkrētā brīža bērna spēju līmenim, un visam pāri - patiesa patika mācīt
    klavierspēli, kas ir izšķirīgi patīkamas mācību pieredzes gūšanā"
</p>
<p style="margin-bottom: 40px">
    Līga Pūce (mamma meitai, kurai ļoti veicās, ka 6 gadu vecumā klavierspēles pamatus apguva kopā ar Sīlindu)
</p>






</body>

{% endblock %}

