<head>
    {% load static %}
<link rel="stylesheet" href="{% static 'css/design.css' %}">
</head>

<body>
<div class="nav">
    <label class="logo">SildaPiano</label>

    <div class="middle">
        <ul>
            {% url 'public:lessons' as lessons_url%}
            <li>{% if request.path == lessons_url %}Sākums{% else %}<a href={{ lessons_url }}>Sākums</a>{% endif %}</li>
            {% url 'public:about' as about_url%}
            <li>{% if request.path == about_url %}Par skolotāju{% else %}<a href={{ about_url }}>Par skolotāju</a>{% endif %}</li>
            {% url 'public:contacts' as contacts_url%}
            <li>{% if request.path == contacts_url %}Kontakti{% else %}<a href={{ contacts_url }}>Kontakti</a>{% endif %}</li>
            {% url 'public:calendar' as calendar_url%}
            <li>{% if request.path == calendar_url %}Kalendārs{% else %}<a href={{ calendar_url }}>Kalendārs</a>{% endif %}</li>
        </ul>
    </div>
    <div class="right">
        <ul>
            {% if user.is_authenticated %}
                {% url 'accounts:profile' as profile_url %}
                <li>Čau,
                    {% if request.path == profile_url %}{{user.username}}
                    {% else %}<a href="{{ profile_url }}">{{user.username}}</a>!{% endif %}</li>
                <li><a href="{% url 'accounts:logout' %}">Iziet</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login' %}">Ienākt</a></li>
            {% endif %}
        </ul>
    </div>
</div>
</body>