<body>

{% load static %}
<link rel="stylesheet" href="{% static 'css/design.css' %}">

<div class="nav">
    <label class="logo">SildaPiano</label>

    <span style="float:right">
        {% if user.is_authenticated %}
            {% url 'accounts:profile' as profile_url %}
            <span>Čau,
                {% if request.path == profile_url %}{{user.username}}
                {% else %}<a href="{{ profile_url }}">{{user.username}}</a>!{% endif %}</span>
            <span><a href="{% url 'accounts:logout' %}">Iziet</a></span>
        {% else %}
            <span><a href="{% url 'accounts:login' %}">Ienākt</a></span>
        {% endif %}
    </span>

    <div class="middle">
        <ul>
            {% url 'public:lessons' as lessons_url%}
            <li>{% if request.path == lessons_url %}Sākums{% else %}<a href={{ lessons_url }}>Sākums</a>{% endif %}</li>
            {% url 'public:about' as about_url%}
            <li>{% if request.path == about_url %}Par skolotāju{% else %}<a href={{ about_url }}>Par skolotāju</a>{% endif %}</li>
            {% url 'public:contacts' as contacts_url%}
            <li>{% if request.path == contacts_url %}Kontakti{% else %}<a href={{ contacts_url }}>Kontakti</a>{% endif %}</li>
        </ul>
    </div>





</div>
</body>